@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Arthur De Bellis Gomes</h1>
    <p>Cargo pretendido: Desenvolvedor .Net Júnior.</p>
    <p>Pretenção Salarial: R$ 4000,00.</p>
    <p>Data do Teste: 29/08/2024.</p>
</div>
