@{
    ViewData["Title"] = "Análise de algoritmos para detecção de notícias falsas";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>O desafio de programação que mais marcou minha jornada até então foi com certeza meu trabalho de conclusão de curso.</p>
    <p>O trabalho foi feito em python, e buscava explorar diferentes algoritmos de processamento de linguagem natural na detecção e análise de notícias falsas no twitter</p>
    <p>Este desafio me marcou pela complexidade dos algoritmos e da coleta de dados e pré-processamento dos mesmos.</p>
</div>
